@font-face {
    font-family: gothamBold;
    src: url(./Gotham\ Bold\ Regular.ttf);
}

@font-face {
    font-family: gothamRegular;
    src: url(./Gotham\ Book\ Regular.otf);
}

@font-face {
    font-family: perpetuaBold;
    src: url("./Perpetua\ Bold\ Bold\ font.ttf")
}

@font-face {
    font-family: perpetuaRegular;
    src: url(./per_____.ttf);
}

* {
    box-sizing: border-box;
}

.missionStatement {
    text-align: center;
    font-family: perpetuaBold;
    font-size: 2.5rem;
    color: #6ba539;
    padding: 10px;
}

.initialVideo {
    width: 75%;
    margin: 0 auto;
}

.logo {
    width: 50%;
    margin: auto;
    display: block;
}

.logoRow {
    background-color:rgba(105,178,66, 0.8);
    width: 99.8vw;;
    margin-bottom: 20px
}

.section1 {
    height: 70vh;
}

.container-fluid {
    width: 90vw;
}

.brian, .charlie, .ashley, .britta {
    border-radius: 50%;
    width: 12vw;
    margin: auto;
    padding-top: 10px;
}

.brianCard {
    background-color: #bb4040;
}

.charlieCard {
    background-color: #7ca52e;
}

.ashleyCard {
    background-color: #fdc557;
}

.brittaCard {
    background-color: #0079c2;
}

.pBrian, .pCharlie, .pAshley, .pBritta {
    border-radius: 50%;
    width: 17%;
    margin: auto;
    padding-top: 10px;
}

.passionCard {
    background-color: rgba(105,178,66, 0.8);
}

.cardRow{
    height: 30vh;
}

.card-deck .card {
    margin-bottom: 20px;
}

.card-title {
    font-family: perpetuaBold;
    font-size: 2rem;
    text-align: center;
}

.card-text {
    font-family: gothamRegular;
    text-align: center;
}

li {
    font-family: gothamRegular;
    font-size: 1.15rem;
}

.section3 {
    margin: 50px auto;
}

.group {
    margin: 0 auto;
}

.groupPic {
    background-color: rgba(105,178,66, 0.8);
}

.challenge {
    font-family: gothamBold;
    color: #6ba539;
    text-align: center;
    margin: 10px 10px 50px 10px;
    font-size: 2rem;
}
